.fondo{
    background-image: linear-gradient(to left, rgb(252, 239, 239), rgb(241, 233, 211))
}

.header{
    position:fixed;
    left:0%;
    top: 0%;
    right: 0%;
    height: 100px;
    margin: 10px;
    margin-top: 0%;
    background-image: linear-gradient(to left, rgb(219, 102, 209),yellow,rgb(0, 255, 179));
    display: grid;
    grid-template-rows: 50px;
    grid-column: 100px 10px 10px 10px 10px;
}

.logotipo{
    margin-top: 0%;
    margin-left: 0px;
    width: 100px; height: 100px;
    animation-name: paisaje-logo;
    animation-iteration-count: 5;
    animation-timing-function: ease-in;
    animation-duration: 5s;

}

.ul-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 140px;
    left: 232px;
    padding-left: 500px;
    margin: 10%;

}

.menu{
    font-size: 17px;
    color: black;
    margin-left: 10px;
    list-style: none;
} 
.li-menu{  
        list-style-type:none;
        color: black;
        padding: 10px;
        font-size: 17px;
        width: 119px; height: 109px;
        transition: all 2s;
}   

.li-menu:hover {
    height: 100px; width: 100px;
    padding: 8px;
    background-color: rgb(220, 231, 231);
}    
.main{
    padding-top: 10rem;  
}

#titulo{
    font-size: 50px;
    text-align: center;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(216, 202, 123);
    padding-left: 20px;
    text-shadow: 2px 2px olive ;
    background-image: url(assets/img/ropa-clara2.jpg);
    font-size: 50px;
    margin-bottom: 5%;
    padding: 180px;
    padding-top: 100px;

}


#bloque{
    width: 970px;
    margin: 54px;
    background-color: rgb(185, 247, 149);
    padding: 20px 20px 40px 40px;
    border: 2px solid forestgreen;
    border-radius: 15px;
}

button{
    background-color:#dc3545;
    color: aliceblue;
    border: 2px solid firebrick;
    border-radius: 6px;
    width: 250px;
    height: 150px;

}

#botonEnAlquiler{
    width: 279px;
    height: 50px;
    background-color:#570f69;
    margin-bottom: 5%;
    margin-left: 485px;
    
    

}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 20px;
    margin-bottom: 0px;
    

}

.gallery-item{
margin-bottom: -84px;
}

.gallery-imagen{
    width: 60%;
    height: 40%;
    object-fit: cover;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: rgb(240, 207, 99);

   
}

.galleryTitulo{
    background-color: rgb(155, 247, 112);
    margin-left: 0px;
    margin-right: 146px;
    padding: 20px;
}

#formulario{
    margin-left: 50px;
}

.imagen-de-descuento{
    margin-left: 500px;
    margin-right: 146px;
    padding-top: 20px;
    width: 350px;
    height: 450px;
}



#vestidosDeQuinse{
    margin-left: 500px;
}

